@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";

:root {
  --background: #FAF7F2;
  --surface: #FDE2E2;
  --primary: #E62525;
  --accent: #AE696B;
  --text: #2f251e;
  --light: #fff7ed;
  --dark: #2a1f18;
  --shadow: #FDE2E2;

  --occurrence-status-pending: #9CA3AF;
  --occurrence-status-done: #22C55E;
  --occurrence-status-missed: #EF4444;
}

.dark {
  /* TO DO */
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-shadow: var(--shadow);
}


.nav-link {
  @apply text-4xl cursor-pointer;
}

.sidebar-link {
  @apply flex items-center gap-2 text-xl font-semibold cursor-pointer hover:bg-accent rounded-3xl p-2
    border border-transparent transition-[padding] duration-300 flex-nowrap text-nowrap;
}

.sidebar-link span {
  @apply text-3xl;
}

.sidebar-link.expanded {
  @apply px-8;
}

.sidebar-link.active {
  @apply border-light;
}

.rbc-date-cell {
  text-align: center;
  padding-right: 0px;
  padding-top: 5px;
}

.rbc-today {
  background-color: var(--color-surface);
}

.calendar-navigation {
  @apply bg-accent px-4 py-2 rounded-lg text-light font-bold cursor-pointer hover:bg-accent/80;
}

.task-field-group {
  @apply flex flex-col gap-1;
}

.task-field-group > input, .task-field-group > textarea, .task-field-group > select {
  @apply rounded-xl border border-accent bg-light px-3 py-2 outline-none;
}

.task-field-group > label {
  @apply text-sm font-semibold;
}

.rrule-square-grid {
  @apply flex flex-wrap gap-2 mx-auto justify-center;
}

.rrule-square-input {
  @apply sr-only;
}

.rrule-square-toggle {
  @apply flex h-10 w-10 cursor-pointer items-center justify-center rounded-md bg-accent/80 text-xs font-semibold text-light transition-colors;
}

.rrule-square-input:checked + .rrule-square-toggle {
  @apply bg-accent;
}
