@import "tailwindcss";

:root {
  --background: #FAF7F2;
  --surface: #FDE2E2;
  --primary: #E62525;
  --accent: #AE696B;
  --text: #2f251e;
  --light: #fff7ed;
  --dark: #2a1f18;
  --shadow: #FDE2E2;
}

.dark {
  /* TO DO */
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-shadow: var(--shadow);
}


.nav-link {
  @apply text-4xl cursor-pointer;
}